*Step 1: Identify labeled dataset*

In [1]:
import numpy as np
import pandas as pd 
import os
#print(os.listdir("../input/"))
diabetes = pd.read_csv('../input/scratchpad/diabetes.csv')
diabetes['Id'] = diabetes.index
diabetes.head()

   Pregnancies  Glucose  BloodPressure ...  Age  Outcome  Id
0            6      148             72 ...   50        1   0
1            1       85             66 ...   31        0   1
2            8      183             64 ...   32        1   2
3            1       89             66 ...   21        0   3
4            0      137             40 ...   33        1   4

[5 rows x 10 columns]

*Step 2: Split dataset into training data and testing data*

In [2]:
diabetes['split'] = np.random.randn(diabetes.shape[0], 1)
msk = np.random.rand(len(diabetes)) <= 0.7
train = diabetes[msk]
test = diabetes[~msk]

train = train.drop(columns='split')
train.head()

   Pregnancies  Glucose  BloodPressure ...  Age  Outcome  Id
0            6      148             72 ...   50        1   0
2            8      183             64 ...   32        1   2
3            1       89             66 ...   21        0   3
5            5      116             74 ...   30        0   5
6            3       78             50 ...   26        1   6

[5 rows x 10 columns]

In [3]:
test2 = test.drop(columns='Outcome')
test2 = test2.drop(columns='split')
test2.head()

    Pregnancies  Glucose  BloodPressure ...  DiabetesPedigreeFunction  Age  Id
1             1       85             66 ...                     0.351   31   1
4             0      137             40 ...                     2.288   33   4
7            10      115              0 ...                     0.134   29   7
8             2      197             70 ...                     0.158   53   8
10            4      110             92 ...                     0.191   30  10

[5 rows x 9 columns]

*Step 3: Create Answer Key and Sample Submission File*

In [4]:
answer_key = test['Outcome']
answer_key = pd.DataFrame(answer_key)
answer_key['Id'] = answer_key.index
answer_key = answer_key[['Id', 'Outcome']]
answer_key.head()

    Id  Outcome
1    1        0
4    4        1
7    7        0
8    8        1
10  10        0

In [5]:
sample_submission = test['Outcome']
sample_submission = sample_submission.replace(0)
sample_submission = pd.DataFrame(sample_submission)
sample_submission['Id'] = sample_submission.index
sample_submission = sample_submission[['Id', 'Outcome']]
sample_submission.head()

    Id  Outcome
1    1        0
4    4        1
7    7        1
8    8        1
10  10        1

*Step 4: Save new files as CSV files*

In [6]:
train.to_csv('train.csv', index=False)
test2.to_csv('test.csv', index=False)
answer_key.to_csv('answer_key.csv', index=False)
sample_submission.to_csv('sample_submission.csv', index=False)

*Step 5: Setup Kaggle InClass Competition*

1. Navigate to http://www.kaggle.com/inclass
1. Follow the [instructions](https://www.kaggle.com/about/inclass/how-it-works) to setup an InClass competition
1. Upload files train.csv, test.csv, answer_key.csv, and sample_submission.csv when prompted