**How to Query the World Bank: Education Data (BigQuery Dataset)**

In [1]:
import bq_helper
from bq_helper import BigQueryHelper
# https://www.kaggle.com/sohier/introduction-to-the-bq-helper-package
wbed = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="world_bank_intl_education")

In [2]:
bq_assistant = BigQueryHelper("bigquery-public-data", "world_bank_intl_education")
bq_assistant.list_tables()

['country_series_definitions',
 'country_summary',
 'international_education',
 'series_summary']

In [3]:
bq_assistant.head("international_education", num_rows=30)

,country_name,country_code,indicator_name,indicator_code,year,value
0,Barbados,BRB,Official entrance age to primary education (ye...,SE.PRM.AGES,2016,5.000000e+00
1,Comoros,COM,"Population, ages 15-64 (% of total)",SP.POP.1564.TO.ZS,2016,5.709872e+01
2,Grenada,GRD,Population of the official entrance age to pri...,UIS.SAP.1.G1.M,2016,1.001000e+03
3,Cayman Islands,CYM,Theoretical duration of secondary education (y...,SE.SEC.DURS,2016,6.000000e+00
4,China,CHN,Theoretical duration of pre-primary education ...,UIS.THDUR.0,2016,3.000000e+00
5,Northern Mariana Islands,MNP,GDP at market prices (current US$),NY.GDP.MKTP.CD,2016,1.242000e+09
6,Madagascar,MDG,Population of the official age for secondary e...,SP.SEC.TOTL.IN,2016,4.052674e+06
7,Turkmenistan,TKM,"GNI per capita, PPP (current international $)",NY.GNP.PCAP.PP.CD,2016,1.609000e+04
8,Bhutan,BTN,Pupil-teacher ratio in primary education (head...,SE.PRM.ENRL.TC.ZS,2016,3.803778e+01
9,Singapore,SGP,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,2016,8.800310e+04
10,Botswana,BWA,"Unemployment, total (% of total labor force)",SL.UEM.TOTL.ZS,2016,1.770000e+01
11,Mauritania,MRT,Theoretical duration of lower secondary educat...,SE.SEC.DURS.LO,2016,4.000000e+00
12,Maldives,MDV,"Gross enrolment ratio, pre-primary, female (%)",SE.PRE.ENRR.FE,2016,1.016954e+02
13,Gabon,GAB,"GNI per capita, PPP (current international $)",NY.GNP.PCAP.PP.CD,2016,1.675000e+04
14,Puerto Rico,PRI,Official entrance age to compulsory education ...,UIS.CEAGE.1,2016,5.000000e+00
15,Chad,TCD,Population of the official age for pre-primary...,SP.PRE.TOTL.FE.IN,2016,7.254420e+05
16,West Bank and Gaza,PSE,Population of the official entrance age to pri...,UIS.SAP.1.G1.F,2016,6.208700e+04
17,Serbia,SRB,"Literacy rate, population 25-64 years, male (%)",UIS.LR.AG25T64.M,2016,9.951265e+01
18,North America,NAC,GDP per capita (current US$),NY.GDP.PCAP.CD,2016,5.608194e+04
19,Bhutan,BTN,Population of the official age for upper secon...,SP.SEC.UTOT.MA.IN,2016,1.486300e+04
20,Cabo Verde,CPV,"Mortality rate, under-5 (per 1,000)",SH.DYN.MORT,2016,2.140000e+01
21,"Yemen, Rep.",YEM,"Population, ages 15-64 (% of total)",SP.POP.1564.TO.ZS,2016,5.685043e+01
22,Kenya,KEN,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,2016,1.380000e+03
23,Nigeria,NGA,Population of the official age for upper secon...,SP.SEC.UTOT.IN,2016,1.170580e+07
24,Myanmar,MMR,"Elderly illiterate population, 65+ years, fema...",UIS.LP.AG65.F,2016,8.691090e+05
25,"Micronesia, Fed. Sts.",FSM,Population of the official age for primary edu...,SP.PRM.TOTL.IN,2016,1.416200e+04
26,Sao Tome and Principe,STP,Theoretical duration of primary education (years),SE.PRM.DURS,2016,6.000000e+00
27,Botswana,BWA,"Population, female",SP.POP.TOTL.FE.IN,2016,1.138206e+06
28,Pakistan,PAK,Population of the official age for post-second...,UIS.SAP.4.M,2016,6.027107e+06
29,Middle East & North Africa,MEA,"Mortality rate, under-5 (per 1,000)",SH.DYN.MORT,2016,2.408686e+01

In [4]:
bq_assistant.table_schema("international_education")

[SchemaField('country_name', 'STRING', 'NULLABLE', '', ()),
 SchemaField('country_code', 'STRING', 'NULLABLE', '', ()),
 SchemaField('indicator_name', 'STRING', 'NULLABLE', '', ()),
 SchemaField('indicator_code', 'STRING', 'NULLABLE', '', ()),
 SchemaField('year', 'INTEGER', 'NULLABLE', '', ()),
 SchemaField('value', 'FLOAT', 'NULLABLE', '', ())]

Of total government spending, what percentage is spent on education?

In [5]:
query1 = """
SELECT
  country_name,
  AVG(value) AS average
FROM
  `bigquery-public-data.world_bank_intl_education.international_education`
WHERE
  indicator_code = "SE.XPD.TOTL.GB.ZS"
  AND year > 2000
GROUP BY
  country_name
ORDER BY
  average DESC
;
        """
response1 = wbed.query_to_pandas_safe(query1)
response1.head(50)

                      country_name    average
0                          Vanuatu  29.330663
1                          Lesotho  27.614941
2                          Tunisia  25.615756
3                         Ethiopia  24.280294
4                         Botswana  24.269573
5                         Zimbabwe  24.147020
6                            Ghana  23.838494
7                          Namibia  22.968228
8   St. Vincent and the Grenadines  22.605225
9                         Djibouti  22.524957
10                           Kenya  22.053427
11                   Cote d'Ivoire  21.878652
12                      Costa Rica  21.683806
13                     Puerto Rico  21.582741
14            Hong Kong SAR, China  21.441356
15                     Yemen, Rep.  21.405260
16                       Guatemala  21.366231
17                       Swaziland  20.952642
18                    Turkmenistan  20.795509
19              Iran, Islamic Rep.  20.675766
20           Micronesia, Fed. Sts.  20.668320
21                    Saudi Arabia  20.569674
22                            Togo  20.525761
23                         Senegal  20.324385
24                           Aruba  20.187407
25                           Nepal  20.055056
26                          Mexico  20.001342
27                          Belize  19.955944
28                        Malaysia  19.955416
29                        Thailand  19.944122
30                        Paraguay  19.865749
31                      Mozambique  19.613976
32                       Singapore  19.590122
33                         Bolivia  19.575361
34                         Moldova  19.369909
35                         Comoros  19.319276
36                    South Africa  19.299002
37                           Benin  19.233054
38                        Honduras  19.230511
39                 Solomon Islands  18.818918
40                Marshall Islands  18.661476
41            Syrian Arab Republic  18.461022
42                        Cameroon  18.272735
43                        Tanzania  18.152010
44                            Fiji  18.104701
45                    Burkina Faso  18.064666
46                           Tonga  17.939858
47                           Niger  17.930121
48                           Chile  17.787135
49                     New Zealand  17.778227

![](https://cloud.google.com/bigquery/images/education-spending.png)
https://cloud.google.com/bigquery/images/education-spending.png