**How to Query the World Bank: Global Health, Nutrition, and Population Data (BigQuery Dataset)**

In [1]:
import bq_helper
from bq_helper import BigQueryHelper
# https://www.kaggle.com/sohier/introduction-to-the-bq-helper-package
ghnp = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="world_bank_health_population")

In [2]:
bq_assistant = BigQueryHelper("bigquery-public-data", "world_bank_health_population")
bq_assistant.list_tables()

['country_series_definitions',
 'country_summary',
 'health_nutrition_population',
 'series_summary',
 'series_times']

In [3]:
bq_assistant.head("health_nutrition_population", num_rows=30)

,country_name,country_code,indicator_name,indicator_code,year,value
0,East Asia & Pacific (IDA & IBRD countries),TEA,"Labor force, total",SL.TLF.TOTL.IN,2017,1.112519e+09
1,Mexico,MEX,"Unemployment, female (% of female labor force)",SL.UEM.TOTL.FE.ZS,2017,3.900000e+00
2,"Egypt, Arab Rep.",EGY,"Unemployment, female (% of female labor force)",SL.UEM.TOTL.FE.ZS,2017,2.370000e+01
3,Small states,SST,Diabetes prevalence (% of population ages 20 t...,SH.STA.DIAB.ZS,2017,9.369016e+00
4,Gabon,GAB,"Unemployment, male (% of male labor force)",SL.UEM.TOTL.MA.ZS,2017,1.630000e+01
5,South Sudan,SSD,Diabetes prevalence (% of population ages 20 t...,SH.STA.DIAB.ZS,2017,1.043000e+01
6,Mali,MLI,"Unemployment, male (% of male labor force)",SL.UEM.TOTL.MA.ZS,2017,7.300000e+00
7,Togo,TGO,"Labor force, total",SL.TLF.TOTL.IN,2017,3.533312e+06
8,Bahrain,BHR,"Unemployment, male (% of male labor force)",SL.UEM.TOTL.MA.ZS,2017,5.000000e-01
9,Libya,LBY,"Unemployment, total (% of total labor force)",SL.UEM.TOTL.ZS,2017,1.770000e+01
10,Thailand,THA,"Unemployment, male (% of male labor force)",SL.UEM.TOTL.MA.ZS,2017,1.000000e+00
11,Georgia,GEO,"Labor force, female (% of total labor force)",SL.TLF.TOTL.FE.ZS,2017,4.565518e+01
12,Cameroon,CMR,"Unemployment, female (% of female labor force)",SL.UEM.TOTL.FE.ZS,2017,5.300000e+00
13,Latin America & Caribbean (excluding high income),LAC,"Labor force, female (% of total labor force)",SL.TLF.TOTL.FE.ZS,2017,4.099934e+01
14,Azerbaijan,AZE,Diabetes prevalence (% of population ages 20 t...,SH.STA.DIAB.ZS,2017,7.110000e+00
15,Australia,AUS,"Labor force, total",SL.TLF.TOTL.IN,2017,1.283022e+07
16,Lower middle income,LMC,"Labor force, total",SL.TLF.TOTL.IN,2017,1.215871e+09
17,Nigeria,NGA,"Unemployment, female (% of female labor force)",SL.UEM.TOTL.FE.ZS,2017,6.600000e+00
18,Luxembourg,LUX,"Unemployment, male (% of male labor force)",SL.UEM.TOTL.MA.ZS,2017,5.600000e+00
19,Guatemala,GTM,"Labor force, total",SL.TLF.TOTL.IN,2017,6.812531e+06
20,Madagascar,MDG,"Unemployment, total (% of total labor force)",SL.UEM.TOTL.ZS,2017,2.400000e+00
21,Indonesia,IDN,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,2017,1.060000e+01
22,Slovenia,SVN,"Unemployment, total (% of total labor force)",SL.UEM.TOTL.ZS,2017,7.500000e+00
23,Japan,JPN,"Labor force, total",SL.TLF.TOTL.IN,2017,6.642756e+07
24,Lebanon,LBN,"Unemployment, female (% of female labor force)",SL.UEM.TOTL.FE.ZS,2017,1.090000e+01
25,Central Europe and the Baltics,CEB,Diabetes prevalence (% of population ages 20 t...,SH.STA.DIAB.ZS,2017,6.862735e+00
26,Low income,LIC,"Unemployment, total (% of total labor force)",SL.UEM.TOTL.ZS,2017,5.537822e+00
27,Ireland,IRL,"Unemployment, total (% of total labor force)",SL.UEM.TOTL.ZS,2017,6.200000e+00
28,Trinidad and Tobago,TTO,"Labor force, total",SL.TLF.TOTL.IN,2017,6.742470e+05
29,"Hong Kong SAR, China",HKG,"Unemployment, male (% of male labor force)",SL.UEM.TOTL.MA.ZS,2017,3.900000e+00

In [4]:
bq_assistant.table_schema("health_nutrition_population")

[SchemaField('country_name', 'STRING', 'NULLABLE', '', ()),
 SchemaField('country_code', 'STRING', 'NULLABLE', '', ()),
 SchemaField('indicator_name', 'STRING', 'NULLABLE', '', ()),
 SchemaField('indicator_code', 'STRING', 'NULLABLE', '', ()),
 SchemaField('year', 'INTEGER', 'NULLABLE', '', ()),
 SchemaField('value', 'FLOAT', 'NULLABLE', '', ())]

What’s the average age of first marriages for females around the world?

In [5]:
query1 = """
SELECT
  country_name,
  ROUND(AVG(value),2) AS average
FROM
  `bigquery-public-data.world_bank_health_population.health_nutrition_population`
WHERE
  indicator_code = "SP.DYN.SMAM.FE"
  AND year > 2000
GROUP BY
  country_name
ORDER BY
  average
;
        """
response1 = ghnp.query_to_pandas_safe(query1)
response1.head(50)

                      country_name  average
0                            Niger    16.43
1         Central African Republic    17.15
2                             Chad    18.30
3                             Mali    18.67
4                       Mozambique    18.76
5                       Bangladesh    18.92
6            Sao Tome and Principe    19.10
7                      Afghanistan    19.23
8                           Malawi    19.40
9                       Madagascar    19.40
10                     South Sudan    19.55
11                    Burkina Faso    19.73
12                          Guinea    19.95
13                          Uganda    20.04
14                           Nepal    20.07
15                           Nauru    20.20
16                           India    20.37
17                         Somalia    20.40
18                          Angola    20.40
19               Equatorial Guinea    20.50
20                           Benin    20.52
21                    Sierra Leone    20.54
22                         Eritrea    20.60
23                       Nicaragua    20.63
24                Congo, Dem. Rep.    20.75
25                Marshall Islands    20.80
26                        Zimbabwe    20.80
27                        Tanzania    20.85
28                        Ethiopia    20.87
29                 Solomon Islands    20.90
30                            Cuba    20.97
31                   Cote d'Ivoire    21.00
32                          Tuvalu    21.10
33                         Lao PDR    21.10
34              Dominican Republic    21.18
35                        Honduras    21.20
36  St. Vincent and the Grenadines    21.20
37                          Zambia    21.30
38                Papua New Guinea    21.40
39                        Cameroon    21.48
40                     Gambia, The    21.53
41                        Kiribati    21.57
42                          Guyana    21.57
43                          Panama    21.60
44                         Vanuatu    21.60
45                         Nigeria    21.65
46                        Barbados    21.70
47                      Mauritania    21.75
48                   Guinea-Bissau    21.75
49                       Guatemala    21.80