**How to Query the Daily NOAA Global Historical Climatology Network Weather Data (BigQuery Dataset)**

In [1]:
import bq_helper
from bq_helper import BigQueryHelper
# https://www.kaggle.com/sohier/introduction-to-the-bq-helper-package
noaa = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="ghcn_d")

In [2]:
bq_assistant = BigQueryHelper("bigquery-public-data", "ghcn_d")
bq_assistant.list_tables()

['ghcnd_1763',
 'ghcnd_1764',
 'ghcnd_1765',
 'ghcnd_1766',
 'ghcnd_1767',
 'ghcnd_1768',
 'ghcnd_1769',
 'ghcnd_1770',
 'ghcnd_1771',
 'ghcnd_1772',
 'ghcnd_1773',
 'ghcnd_1774',
 'ghcnd_1775',
 'ghcnd_1776',
 'ghcnd_1777',
 'ghcnd_1778',
 'ghcnd_1779',
 'ghcnd_1780',
 'ghcnd_1781',
 'ghcnd_1782',
 'ghcnd_1783',
 'ghcnd_1784',
 'ghcnd_1785',
 'ghcnd_1786',
 'ghcnd_1787',
 'ghcnd_1788',
 'ghcnd_1789',
 'ghcnd_1790',
 'ghcnd_1791',
 'ghcnd_1792',
 'ghcnd_1793',
 'ghcnd_1794',
 'ghcnd_1795',
 'ghcnd_1796',
 'ghcnd_1797',
 'ghcnd_1798',
 'ghcnd_1799',
 'ghcnd_1800',
 'ghcnd_1801',
 'ghcnd_1802',
 'ghcnd_1803',
 'ghcnd_1804',
 'ghcnd_1805',
 'ghcnd_1806',
 'ghcnd_1807',
 'ghcnd_1808',
 'ghcnd_1809',
 'ghcnd_1810',
 'ghcnd_1811',
 'ghcnd_1812',
 'ghcnd_1813',
 'ghcnd_1814',
 'ghcnd_1815',
 'ghcnd_1816',
 'ghcnd_1817',
 'ghcnd_1818',
 'ghcnd_1819',
 'ghcnd_1820',
 'ghcnd_1821',
 'ghcnd_1822',
 'ghcnd_1823',
 'ghcnd_1824',
 'ghcnd_1825',
 'ghcnd_1826',
 'ghcnd_1827',
 'ghcnd_1828',
 'ghcnd_1829',
 'ghcnd_1830',
 'ghcnd_1831',
 'ghcnd_1832',
 'ghcnd_1833',
 'ghcnd_1834',
 'ghcnd_1835',
 'ghcnd_1836',
 'ghcnd_1837',
 'ghcnd_1838',
 'ghcnd_1839',
 'ghcnd_1840',
 'ghcnd_1841',
 'ghcnd_1842',
 'ghcnd_1843',
 'ghcnd_1844',
 'ghcnd_1845',
 'ghcnd_1846',
 'ghcnd_1847',
 'ghcnd_1848',
 'ghcnd_1849',
 'ghcnd_1850',
 'ghcnd_1851',
 'ghcnd_1852',
 'ghcnd_1853',
 'ghcnd_1854',
 'ghcnd_1855',
 'ghcnd_1856',
 'ghcnd_1857',
 'ghcnd_1858',
 'ghcnd_1859',
 'ghcnd_1860',
 'ghcnd_1861',
 'ghcnd_1862',
 'ghcnd_1863',
 'ghcnd_1864',
 'ghcnd_1865',
 'ghcnd_1866',
 'ghcnd_1867',
 'ghcnd_1868',
 'ghcnd_1869',
 'ghcnd_1870',
 'ghcnd_1871',
 'ghcnd_1872',
 'ghcnd_1873',
 'ghcnd_1874',
 'ghcnd_1875',
 'ghcnd_1876',
 'ghcnd_1877',
 'ghcnd_1878',
 'ghcnd_1879',
 'ghcnd_1880',
 'ghcnd_1881',
 'ghcnd_1882',
 'ghcnd_1883',
 'ghcnd_1884',
 'ghcnd_1885',
 'ghcnd_1886',
 'ghcnd_1887',
 'ghcnd_1888',
 'ghcnd_1889',
 'ghcnd_1890',
 'ghcnd_1891',
 'ghcnd_1892',
 'ghcnd_1893',
 'ghcnd_1894',
 'ghcnd_1895',
 'ghcnd_1896',
 'ghcnd_1897',
 'ghcnd_1898',
 'ghcnd_1899',
 'ghcnd_1900',
 'ghcnd_1901',
 'ghcnd_1902',
 'ghcnd_1903',
 'ghcnd_1904',
 'ghcnd_1905',
 'ghcnd_1906',
 'ghcnd_1907',
 'ghcnd_1908',
 'ghcnd_1909',
 'ghcnd_1910',
 'ghcnd_1911',
 'ghcnd_1912',
 'ghcnd_1913',
 'ghcnd_1914',
 'ghcnd_1915',
 'ghcnd_1916',
 'ghcnd_1917',
 'ghcnd_1918',
 'ghcnd_1919',
 'ghcnd_1920',
 'ghcnd_1921',
 'ghcnd_1922',
 'ghcnd_1923',
 'ghcnd_1924',
 'ghcnd_1925',
 'ghcnd_1926',
 'ghcnd_1927',
 'ghcnd_1928',
 'ghcnd_1929',
 'ghcnd_1930',
 'ghcnd_1931',
 'ghcnd_1932',
 'ghcnd_1933',
 'ghcnd_1934',
 'ghcnd_1935',
 'ghcnd_1936',
 'ghcnd_1937',
 'ghcnd_1938',
 'ghcnd_1939',
 'ghcnd_1940',
 'ghcnd_1941',
 'ghcnd_1942',
 'ghcnd_1943',
 'ghcnd_1944',
 'ghcnd_1945',
 'ghcnd_1946',
 'ghcnd_1947',
 'ghcnd_1948',
 'ghcnd_1949',
 'ghcnd_1950',
 'ghcnd_1951',
 'ghcnd_1952',
 'ghcnd_1953',
 'ghcnd_1954',
 'ghcnd_1955',
 'ghcnd_1956',
 'ghcnd_1957',
 'ghcnd_1958',
 'ghcnd_1959',
 'ghcnd_1960',
 'ghcnd_1961',
 'ghcnd_1962',
 'ghcnd_1963',
 'ghcnd_1964',
 'ghcnd_1965',
 'ghcnd_1966',
 'ghcnd_1967',
 'ghcnd_1968',
 'ghcnd_1969',
 'ghcnd_1970',
 'ghcnd_1971',
 'ghcnd_1972',
 'ghcnd_1973',
 'ghcnd_1974',
 'ghcnd_1975',
 'ghcnd_1976',
 'ghcnd_1977',
 'ghcnd_1978',
 'ghcnd_1979',
 'ghcnd_1980',
 'ghcnd_1981',
 'ghcnd_1982',
 'ghcnd_1983',
 'ghcnd_1984',
 'ghcnd_1985',
 'ghcnd_1986',
 'ghcnd_1987',
 'ghcnd_1988',
 'ghcnd_1989',
 'ghcnd_1990',
 'ghcnd_1991',
 'ghcnd_1992',
 'ghcnd_1993',
 'ghcnd_1994',
 'ghcnd_1995',
 'ghcnd_1996',
 'ghcnd_1997',
 'ghcnd_1998',
 'ghcnd_1999',
 'ghcnd_2000',
 'ghcnd_2001',
 'ghcnd_2002',
 'ghcnd_2003',
 'ghcnd_2004',
 'ghcnd_2005',
 'ghcnd_2006',
 'ghcnd_2007',
 'ghcnd_2008',
 'ghcnd_2009',
 'ghcnd_2010',
 'ghcnd_2011',
 'ghcnd_2012',
 'ghcnd_2013',
 'ghcnd_2014',
 'ghcnd_2015',
 'ghcnd_2016',
 'ghcnd_2017',
 'ghcnd_2018',
 'ghcnd_countries',
 'ghcnd_inventory',
 'ghcnd_states',
 'ghcnd_stations',
 'ghcnd_yyyy_schema']

In [3]:
bq_assistant.head("ghcnd_2018", num_rows=3)

            id        date element  value mflag qflag sflag  time
0  USC00360868  2018-04-21    PRCP    0.0                 H  0800
1  USC00415427  2018-04-21    PRCP    0.0                 H  0800
2  USC00473636  2018-04-21    PRCP    0.0                 H  0700

In [4]:
bq_assistant.table_schema("ghcnd_2018")

[SchemaField('id', 'STRING', 'REQUIRED', '', ()),
 SchemaField('date', 'DATE', 'NULLABLE', '', ()),
 SchemaField('element', 'STRING', 'NULLABLE', '', ()),
 SchemaField('value', 'FLOAT', 'NULLABLE', '', ()),
 SchemaField('mflag', 'STRING', 'NULLABLE', '', ()),
 SchemaField('qflag', 'STRING', 'NULLABLE', '', ()),
 SchemaField('sflag', 'STRING', 'NULLABLE', '', ()),
 SchemaField('time', 'STRING', 'NULLABLE', '', ())]

Find weather stations close to a specific location?  In this case, we are searching for stations close to Chicago (latitude=41.88, longitude=-87.63).

In [5]:
query1 = """SELECT
  id,
  name,
  state,
  latitude,
  longitude
FROM
  `bigquery-public-data.ghcn_d.ghcnd_stations`
WHERE
  latitude > 41.7
  AND latitude < 42
  AND longitude > -87.7
  AND longitude < -87.5;
        """
response1 = noaa.query_to_pandas_safe(query1)
response1.head(10)

            id                        name state  latitude  longitude
0  USC00111564    "CHICAGO S WTR FILT PLT"    IL   41.7500   -87.5500
1  US1ILCK0204  "BOOT CAMP-CHICAGO 4.2 SW"    IL   41.8421   -87.6891
2  US1ILCK0151     "EVERGREEN PARK 0.5 NE"    IL   41.7274   -87.6949
3  USC00111562      "CHICAGO SAN DIST OFC"    IL   41.9000   -87.6333
4  US1ILCK0240           "CHICAGO 2.7 WNW"    IL   41.9018   -87.6726
5  US1ILCK0179           "CHICAGO 4.8 NNW"    IL   41.9481   -87.6588
6  US1ILCK0097           "CHICAGO 6.8 NNE"    IL   41.9301   -87.6393
7  US1ILCK0104        "LINCOLNWOOD 5.1 SE"    IL   41.9494   -87.6703
8  USC00111584         "CHICAGO WB CITY 2"    IL   41.8833   -87.6333
9  USC00111526        "CHICAGO GRANT PARK"    IL   41.8833   -87.6167

Daily rainfall amounts at specific station?  Here, we are obtaining rainfall (in mm) for all days in 2015 from a weather station in Chicago whose id is provided in the query (the station corresponds to Oâ€™Hare airport).

In [6]:
query2 = """SELECT
  wx.date,
  wx.value/10.0 AS prcp
FROM
  `bigquery-public-data.ghcn_d.ghcnd_2015` AS wx
WHERE
  id = 'USW00094846'
  AND qflag IS NULL
  AND element = 'PRCP'
ORDER BY wx.date;
        """
response2 = noaa.query_to_pandas_safe(query2, max_gb_scanned=10)
response2.head(10)

         date  prcp
0  2015-01-01   0.0
1  2015-01-02   0.0
2  2015-01-03  14.5
3  2015-01-04   3.3
4  2015-01-05   3.8
5  2015-01-06   0.3
6  2015-01-07   0.0
7  2015-01-08   1.5
8  2015-01-09   0.0
9  2015-01-10   0.0

Weather for the past two weeks?  Pulling daily min/max temperature (in Celsius) and rainfall (in mm) for the past 14 days.

In [7]:
query3 = """SELECT
  date,
  MAX(prcp) AS prcp,
  MAX(tmin) AS tmin,
  MAX(tmax) AS tmax
FROM (
  SELECT
    wx.date AS date,
    IF (wx.element = 'PRCP', wx.value/10, NULL) AS prcp,
    IF (wx.element = 'TMIN', wx.value/10, NULL) AS tmin,
    IF (wx.element = 'TMAX', wx.value/10, NULL) AS tmax
  FROM
    `bigquery-public-data.ghcn_d.ghcnd_2018` AS wx
  WHERE
    id = 'USW00094846'
    AND DATE_DIFF(CURRENT_DATE(), wx.date, DAY) < 15
)
GROUP BY
  date
ORDER BY
  date ASC;
        """
response3 = noaa.query_to_pandas_safe(query3, max_gb_scanned=10)
response3.head(10)

         date  prcp  tmin  tmax
0  2018-04-09   3.3  -1.1   3.9
1  2018-04-10   0.0  -2.2   7.8
2  2018-04-11   1.3   3.9  18.9
3  2018-04-12   0.8   5.6  22.8
4  2018-04-13   1.8   3.9   8.3
5  2018-04-14  24.4   2.2   3.9
6  2018-04-15  18.8  -2.2   2.8
7  2018-04-16   0.3  -2.8   1.7
8  2018-04-17   0.0  -1.7   6.1
9  2018-04-18  10.4  -1.1   2.8